<!--content-->
<main>
    <!--content 1 - new on edx-->
    <section class="content">
        <div class="content-inner">
            <span class="red-title">New </span>
            <span class="black-title">on edX</span>

            <mat-tab-group class="main-group">

                <mat-tab label="Executive Education">
                    <div class="btn-group">
                        <button onclick="document.getElementById('popular-edu').style.display='block';
                                        document.getElementById('ai-edu').style.display='none';" class="btn">Popular</button>
                        <button onclick="document.getElementById('ai-edu').style.display='block';
                                        document.getElementById('popular-edu').style.display='none';" class="btn">AI & Digital Transformation</button>
                        <button onclick="" class="btn">Business Management & Strategy</button>
                        <button onclick="" class="btn">Data Science & Analysis</button>
                        <button onclick="func()" class="btn">Education</button>
                    </div>
                    <!--executive education - popular-->
                    <div id="popular-edu" class="" style="display: block;"> <!--*ngIf="selecteditem==1"> id="computer-science" style="display: none;">-->
                        <div class="scroll-cards">
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/1.jpg" alt="">
                                <img class="sub-img" src="../../../../../assets/images/2.webp" alt="">
                                <h5 class="card-title">Oxford Executive Leadership Programme</h5>
                                <p class="card-text">Oxford Said</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
            
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/3.jpg" alt="">
                                <img class="sub-img" src="../../../../../assets/images/4.webp" alt="">
                                <h5 class="card-title">MBA Essentials</h5>
                                <p class="card-text">LSE</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
            
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/5.jpg" alt="">
                                <img class="sub-img" src="../../../../../assets/images/6.webp" alt="">
                                <h5 class="card-title">Higher Education Teaching Certificate</h5>
                                <p class="card-text">HarvardX</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
            
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/7.webp" alt="">
                                <img class="sub-img" src="../../../../../assets/images/8.webp" alt="">
                                <h5 class="card-title">Blockchain Technologies: Business Innovation and Application</h5>
                                <p class="card-text">MIT Sloan School</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
                        </div>
                    </div>
            
                    <!--executive education - ai-->
                    <div id="ai-edu" class="" style="display: none;"><!--</div>*ngIf="selecteditem==2"> id="data-science" style="display: none;"> -->
                        <div class="scroll-cards">
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/9.webp" alt="">
                                <img class="sub-img" src="../../../../../assets/images/10.webp" alt="">
                                <h5 class="card-title">Artificial Intelligence: Implications for Business Strategy</h5>
                                <p class="card-text">MIT Sloan School</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
            
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/11.jpg" alt="">
                                <img class="sub-img" src="../../../../../assets/images/12.webp" alt="">
                                <h5 class="card-title">Oxford Artificial Intelligence Programme</h5>
                                <p class="card-text">Oxford Said</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
            
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/13.webp" alt="">
                                <img class="sub-img" src="../../../../../assets/images/10.webp" alt="">
                                <h5 class="card-title">Machine Learning in Business</h5>
                                <p class="card-text">MIT Sloan School</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
            
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/14.webp" alt="">
                                <img class="sub-img" src="../../../../../assets/images/15.webp" alt="">
                                <h5 class="card-title">Automation: Implementation in Business</h5>
                                <p class="card-text">LSE</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
                        </div>
                    </div>
                    
                </mat-tab>
                 

                <mat-tab label="Master's Degrees">
                    <div class="btn-group">
                        <button onclick="document.getElementById('popular-edu').style.display='block';
                                        document.getElementById('ai-edu').style.display='none';" class="btn">Popular</button>
                        <button onclick="document.getElementById('ai-edu').style.display='block';
                                        document.getElementById('popular-edu').style.display='none';" class="btn">AI & Digital Transformation</button>
                        <button onclick="" class="btn">Business Management & Strategy</button>
                        <button onclick="" class="btn">Data Science & Analysis</button>
                        <button onclick="func()" class="btn">Education</button>
                    </div>
                    <!--executive education - popular-->
                    <div id="popular-edu" style="display: block;"> <!--*ngIf="selecteditem==1"> id="computer-science" style="display: none;">-->
                        <div class="scroll-cards">
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/1.jpg" alt="">
                                <img class="sub-img" src="../../../../../assets/images/2.webp" alt="">
                                <h5 class="card-title">Oxford Executive Leadership Programme</h5>
                                <p class="card-text">Oxford Said</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
            
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/3.jpg" alt="">
                                <img class="sub-img" src="../../../../../assets/images/4.webp" alt="">
                                <h5 class="card-title">MBA Essentials</h5>
                                <p class="card-text">LSE</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
            
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/5.jpg" alt="">
                                <img class="sub-img" src="../../../../../assets/images/6.webp" alt="">
                                <h5 class="card-title">Higher Education Teaching Certificate</h5>
                                <p class="card-text">HarvardX</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
            
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/7.webp" alt="">
                                <img class="sub-img" src="../../../../../assets/images/8.webp" alt="">
                                <h5 class="card-title">Blockchain Technologies: Business Innovation and Application</h5>
                                <p class="card-text">MIT Sloan School</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
                        </div>
                    </div>
            
                    <!--executive education - ai-->
                    <div id="ai-edu" style="display: none;"><!--</div>*ngIf="selecteditem==2"> id="data-science" style="display: none;"> -->
                        <div class="scroll-cards">
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/9.webp" alt="">
                                <img class="sub-img" src="../../../../../assets/images/10.webp" alt="">
                                <h5 class="card-title">Artificial Intelligence: Implications for Business Strategy</h5>
                                <p class="card-text">MIT Sloan School</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
            
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/11.jpg" alt="">
                                <img class="sub-img" src="../../../../../assets/images/12.webp" alt="">
                                <h5 class="card-title">Oxford Artificial Intelligence Programme</h5>
                                <p class="card-text">Oxford Said</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
            
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/13.webp" alt="">
                                <img class="sub-img" src="../../../../../assets/images/10.webp" alt="">
                                <h5 class="card-title">Machine Learning in Business</h5>
                                <p class="card-text">MIT Sloan School</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
            
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/14.webp" alt="">
                                <img class="sub-img" src="../../../../../assets/images/15.webp" alt="">
                                <h5 class="card-title">Automation: Implementation in Business</h5>
                                <p class="card-text">LSE</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
                        </div>
                    </div>
                    
                </mat-tab>
                 

                <mat-tab label="Bachelor's Degrees">
                    
                </mat-tab>
                 
            </mat-tab-group>       


            <div class="column">
                <div class="">
                    <h3>Executive Education</h3>
                    <div class="btn-group">
                        <button onclick="document.getElementById('popular-edu').style.display='block';
                                        document.getElementById('ai-edu').style.display='none';" class="btn">Popular</button>
                        <button onclick="document.getElementById('ai-edu').style.display='block';
                                        document.getElementById('popular-edu').style.display='none';" class="btn">AI & Digital Transformation</button>
                        <button onclick="" class="btn">Business Management & Strategy</button>
                        <button onclick="" class="btn">Data Science & Analysis</button>
                        <button onclick="func()" class="btn">Education</button>
                    </div>
                    <!--executive education - popular-->
                    <div id="popular-edu" style="display: block;"> <!--*ngIf="selecteditem==1"> id="computer-science" style="display: none;">-->
                        <div class="scroll-cards">
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/1.jpg" alt="">
                                <img class="sub-img" src="../../../../../assets/images/2.webp" alt="">
                                <h5 class="card-title">Oxford Executive Leadership Programme</h5>
                                <p class="card-text">Oxford Said</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
            
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/3.jpg" alt="">
                                <img class="sub-img" src="../../../../../assets/images/4.webp" alt="">
                                <h5 class="card-title">MBA Essentials</h5>
                                <p class="card-text">LSE</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
            
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/5.jpg" alt="">
                                <img class="sub-img" src="../../../../../assets/images/6.webp" alt="">
                                <h5 class="card-title">Higher Education Teaching Certificate</h5>
                                <p class="card-text">HarvardX</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
            
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/7.webp" alt="">
                                <img class="sub-img" src="../../../../../assets/images/8.webp" alt="">
                                <h5 class="card-title">Blockchain Technologies: Business Innovation and Application</h5>
                                <p class="card-text">MIT Sloan School</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
                        </div>
                    </div>
            
                    <!--executive education - ai-->
                    <div id="ai-edu" style="display: none;"><!--</div>*ngIf="selecteditem==2"> id="data-science" style="display: none;"> -->
                        <div class="scroll-cards">
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/9.webp" alt="">
                                <img class="sub-img" src="../../../../../assets/images/10.webp" alt="">
                                <h5 class="card-title">Artificial Intelligence: Implications for Business Strategy</h5>
                                <p class="card-text">MIT Sloan School</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
            
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/11.jpg" alt="">
                                <img class="sub-img" src="../../../../../assets/images/12.webp" alt="">
                                <h5 class="card-title">Oxford Artificial Intelligence Programme</h5>
                                <p class="card-text">Oxford Said</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
            
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/13.webp" alt="">
                                <img class="sub-img" src="../../../../../assets/images/10.webp" alt="">
                                <h5 class="card-title">Machine Learning in Business</h5>
                                <p class="card-text">MIT Sloan School</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
            
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/14.webp" alt="">
                                <img class="sub-img" src="../../../../../assets/images/15.webp" alt="">
                                <h5 class="card-title">Automation: Implementation in Business</h5>
                                <p class="card-text">LSE</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
                 

                <div class="">
                    <h3>Master's Degrees</h3>
                    <div class="btn-group">
                        <button onclick="document.getElementById('popular-edu').style.display='block';
                                        document.getElementById('ai-edu').style.display='none';" class="btn">Popular</button>
                        <button onclick="document.getElementById('ai-edu').style.display='block';
                                        document.getElementById('popular-edu').style.display='none';" class="btn">AI & Digital Transformation</button>
                        <button onclick="" class="btn">Business Management & Strategy</button>
                        <button onclick="" class="btn">Data Science & Analysis</button>
                        <button onclick="func()" class="btn">Education</button>
                    </div>
                    <!--executive education - popular-->
                    <div id="popular-edu" style="display: block;"> <!--*ngIf="selecteditem==1"> id="computer-science" style="display: none;">-->
                        <div class="scroll-cards">
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/1.jpg" alt="">
                                <img class="sub-img" src="../../../../../assets/images/2.webp" alt="">
                                <h5 class="card-title">Oxford Executive Leadership Programme</h5>
                                <p class="card-text">Oxford Said</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
            
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/3.jpg" alt="">
                                <img class="sub-img" src="../../../../../assets/images/4.webp" alt="">
                                <h5 class="card-title">MBA Essentials</h5>
                                <p class="card-text">LSE</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
            
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/5.jpg" alt="">
                                <img class="sub-img" src="../../../../../assets/images/6.webp" alt="">
                                <h5 class="card-title">Higher Education Teaching Certificate</h5>
                                <p class="card-text">HarvardX</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
            
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/7.webp" alt="">
                                <img class="sub-img" src="../../../../../assets/images/8.webp" alt="">
                                <h5 class="card-title">Blockchain Technologies: Business Innovation and Application</h5>
                                <p class="card-text">MIT Sloan School</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
                        </div>
                    </div>
            
                    <!--executive education - ai-->
                    <div id="ai-edu" style="display: none;"><!--</div>*ngIf="selecteditem==2"> id="data-science" style="display: none;"> -->
                        <div class="scroll-cards">
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/9.webp" alt="">
                                <img class="sub-img" src="../../../../../assets/images/10.webp" alt="">
                                <h5 class="card-title">Artificial Intelligence: Implications for Business Strategy</h5>
                                <p class="card-text">MIT Sloan School</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
            
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/11.jpg" alt="">
                                <img class="sub-img" src="../../../../../assets/images/12.webp" alt="">
                                <h5 class="card-title">Oxford Artificial Intelligence Programme</h5>
                                <p class="card-text">Oxford Said</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
            
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/13.webp" alt="">
                                <img class="sub-img" src="../../../../../assets/images/10.webp" alt="">
                                <h5 class="card-title">Machine Learning in Business</h5>
                                <p class="card-text">MIT Sloan School</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
            
                            <div class="card">
                                <img class="card-img" src="../../../../../assets/images/14.webp" alt="">
                                <img class="sub-img" src="../../../../../assets/images/15.webp" alt="">
                                <h5 class="card-title">Automation: Implementation in Business</h5>
                                <p class="card-text">LSE</p>
                                <button class="card-btn">Executive Education</button>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="">
                    <h3>Bachelor's Degrees</h3>
                </div>
            </div>


            <div style="display: flex; align-items: center;">
                <button class="section-btn">Explore more Executive Education</button>
            </div>
        </div>
        
    </section>
</main>
