<section class="content">
    <div class="content-inner">
        <div class="grid">
            <img class="img-11" src="../../../../../assets/images/thirdlayer1.webp" alt="">
            <div class="textcolumn-12">
                
                <p class="small-title">FOR LEARNERS</p>
                    <div id="red-border"></div>
                <div class="text-part">
                    <p class="big-text">Propel your career, get a degree, or expand your knowledge at any level.</p>
                    <button class="link-btn"><mat-icon style="color: white;"> arrow_forward</mat-icon></button>
                </div>

                <p class="small-title">FOR BUSSINESSES</p>
                <div class="text-part">
                    <p class="big-text">Upskill employees and build a culture of learning.</p>
                    <button class="link-btn"><mat-icon style="color: white;"> arrow_forward</mat-icon></button>
                </div>

                <p class="small-title">FOR EDUCATORS</p>
                <div class="text-part">
                    <p class="big-text">Expand your curriculum through blended learning.</p>
                    <button class="link-btn"><mat-icon style="color: white;"> arrow_forward</mat-icon></button>
                </div>
                
            </div>
            <div class="textcolumn-21">
                <p class="big-title">Power solutions. Change the world. Discover the flexible and affordable online AI master’s degree.</p>
                <p class="small-text">The one-of-a-kind online AI master’s program from the top-ranked Department of Computer Science at UT Austin features flexible schedule options and highly advanced courses for only $10,000. Bachelor’s degree required — but no GRE required.</p>
                <button class="layer-btn">Request Information</button>
            </div>
            <img class="img-22" src="../../../../../assets/images/thirdlayer2.webp" alt="">
        </div>
    </div>
    
</section>

