<section class="content">
    <div class="content-inner">
        <p>Popular Subjects</p>
        <div class="grid">
            <div class="item">
                <a class="item-title" href="#">Computer Science<mat-icon style="color: red;"> chevron_right</mat-icon></a>
                <a href="#">Azure</a>
                <a href="#">Blockchain</a>
                <a href="#">C Programming</a>
                <a href="#">DevOps</a>
                <a href="#">Django</a>
                <a href="#">Full Stack Development</a>
                <a href="#">HTML</a>
                <a href="#">Java</a>
                <a href="#">Javascript</a>
                <a href="#">Python</a>
            </div>
            <div class="item">
                <a class="item-title" href="#">Language<mat-icon style="color: red;"> chevron_right</mat-icon></a>
                <a href="#">Chinese</a>
                <a href="#">English</a>
                <a href="#">ESL</a>
                <a href="#">Grammer</a>
                <a href="#">Italian</a>
                <a href="#">Japanese</a>
                <a href="#">Mandarin</a>
                <a href="#">Sİgn Language</a>
                <a href="#">Spanish</a>
                <a href="#">Writing</a>
            </div>
            <div class="item">
                <a class="item-title" href="#">Data Science<mat-icon style="color: red;"> chevron_right</mat-icon></a>
                <a href="#">Artificial Intelligence</a>
                <a href="#">Big Data</a>
                <a href="#">Cloud Computing</a>
                <a href="#">Computer Programming</a>
                <a href="#">Data Analysis</a>
                <a href="#">Data Mining</a>
                <a href="#">Machine Learning</a>
                <a href="#">Power BI</a>
                <a href="#">Pyhton</a>
                <a href="#">Quantum Computing</a>
            </div>
            <div class="item">
                <a class="item-title" href="#">Business & Management<mat-icon style="color: red;"> chevron_right</mat-icon></a>
                <a href="#">Business Administration</a>
                <a href="#">Business Analysis</a>
                <a href="#">Corporate Finance</a>
                <a href="#">Economics</a>
                <a href="#">Entrepreneurship</a>
                <a href="#">Finance</a>
                <a href="#">Financial Literacy</a>
                <a href="#">Leadership</a>
                <a href="#">Project Management</a>
                <a href="#">Statistics</a>
            </div>
            <div class="item">
                <a class="item-title" href="#">Engineering<mat-icon style="color: red;"> chevron_right</mat-icon></a>
                <a href="#">Aerospace Engineering</a>
                <a href="#">Biomedical Engineering</a>
                <a href="#">Chemical Engineering</a>
                <a href="#">Civil Engineering</a>
                <a href="#">Computer Engineering</a>
                <a href="#">Electrical Engineering</a>
                <a href="#">Industrial Engineering</a>
                <a href="#">Mechanical Engineering</a>
                <a href="#">Software Engineering</a>
                <a href="#">Structural Engineering</a>
            </div>
            <div class="item">
                <a class="item-title" href="#">Humanities<mat-icon style="color: red;"> chevron_right</mat-icon></a>
                <a href="#">Art</a>
                <a href="#">Child Development</a>
                <a href="#">Epidemics</a>
                <a href="#">Fashion</a>
                <a href="#">History</a>
                <a href="#">Human Anatomy</a>
                <a href="#">Literature</a>
                <a href="#">Psychology</a>
                <a href="#">Public Speaking</a>
                <a href="#">Shakespeare</a>
            </div>
        </div>
    </div>
</section>
