<footer class="footer">
    <div class="footer-inner">
        <div class="row">
            <!--left - logo-->
            <a href="#" class="logo"><img src="../../../../assets/images/edx-logo.svg" alt="edx logo"></a>

            <!--right - icons-->
            <div class="btn-group">
                <mat-icon aria-label="Example home icon">facebook</mat-icon>
                <mat-icon aria-label="Example home icon">twitter</mat-icon>
                <mat-icon aria-label="Example home icon">linkedin</mat-icon>
                <mat-icon aria-label="Example home icon">reddit</mat-icon>
            </div>
        </div>

        <div class="row">
            <div class="footer-title">
                <h3>edX</h3>
                <a href="#">About</a>
                <a href="#">edX For Bussiness</a>
                <a href="#">Affiliates</a>
                <a href="#">Open edX</a>
                <a href="#">edX Advisory Councils</a>
                <a href="#">Careers</a>
                <a href="#">News</a>
            </div>
            <div class="footer-title">
                <h3>Connect</h3>
                <a href="#">Blog</a>
                <a href="#">Contact Us</a>
                <a href="#">Help Center</a>
                <a href="#">Security</a>
                <a href="#">Media Kit</a>
            </div>
            <div class="footer-title">
                <h3>Legal</h3>
                <a href="#">Terms of Service & Honor COde</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Cookie Policy</a>
                <a href="#">Accessibility Policy</a>
                <a href="#">Tredemark Policy</a>
                <a href="#">Modern Slavery Statement</a>
                <a href="#">Sitemap</a>
                <a href="#">Do Not Sell My Personal Information</a>
            </div>
            <div class="footer-title">
                <h3>Choose Language</h3>
                <div class="lang-row">
                    <select class="lang-select">
                        <option selected="">English</option>
                        <option>Türkçe</option>
                    </select>
                    <button>Apply</button>
                </div>
            </div>
        </div>

        <!--row-->
            <!--two lines - right-->
            <!--app store part - left -->
        <div class="row">
            <div><!--left-->
                <p>© 2023 edX LLC. All rights reserved.</p>
                <p>| 深圳市恒宇博科技有限公司 粤ICP备17044299号-2</p>
            </div>
            <div class="app-part"><!--right-->
                <button class="app-btn"><mat-icon style="color: white"> apple</mat-icon>App Store</button>
                <button class="app-btn">Google Play</button>
            </div>
        </div>
            
    </div>
</footer>
